.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
    list-style: none;
}

.menu a {
    display: block;
}