.edit-page label,
.edit-page select,
.edit-page input,
.edit-page textarea {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.edit-page legend {
    display: block;
    text-align: center;
    font-size: 25px;
}

.edit-page label {
    margin-top: 30px;
    padding-bottom: 10px;
}

.edit-page button {
    display: block;
    width: 300px;
    height: 50px;
    margin: 30px auto 0;
}